@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Goudy+Bookletter+1911&display=swap");

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

div {
  font-family: "Caveat", cursive;
}

.menuTop {
  font-size: 1.4rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: white;
}

.menuFooter {
  font-size: 1.4rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-top: 1px solid;
  border-color: white;
}

section {
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

/* mouse over */
a:hover {
  color: black;
}

/* selected */
a:active {
  color: blue;
}

body {
  background: url(../images/bgpeinture.jpg) no-repeat fixed center/cover;
  height: 100vh;
  min-height: 100%;
  position: relative;
}

main {
  /*background-color: aliceblue;*/
  width: 95%;
  min-height: 100%;
  margin: 40px 20px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.photoAcceuil {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}

.imgIndex {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 200px;
  height: 250px;
}

.portrait img {
  width: 300px;
  margin-left: 10px;
}

.portrait {
  float: right;
}

input,
label {
  display: block;
}

#message {
  width: 50%;
  height: 200px;
}
